{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block Content %}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
	      <ol class="breadcrumb">
	        <li class="active"><a href="/">Home</a></li>
	      </ol>
        </div>
     </div>


    <div class="row">
      <div class="col-lg-10">
        {% include "include/messages.html" %}
      </div>
    </div>

 <div class="col-lg-12 well">
    <div class="row text-center">
        <div class="col-lg-12">

	Your Identity Assurance Level (IAL) is :
				<span class="label label-default">{{ id_token_payload.ial }}</span>
				</div>

{% ifequal id_token_payload.ial  "1" %}
<p>Your identity assurance level of <span class="label label-default">{{ id_token_payload.ial }} </span> is insufficient
to gain access you personal health information (PHI). You will need to
verify your identity before you can gain full access. Please see your point of contact to complete this step.

{% else%}

<a href="/hixny/get-authorization">Get my data from the Health Information Exchange of New York (HIXNY)</a>

{% endifequal %}








   
         <div class="col-lg-12">




Your Authenticator Assurance Level (AAL) is :
				<span class="label label-default">{{ id_token_payload.aal }}</span>
				</div>
  
   
     
        <div class="col-lg-12">




The id_token is :
				<pre>{{ id_token }}</pre>
				</div>
        
        
 
        <div class="col-lg-12">

    The id_token's payload is:
    
				{{id_token_payload }}

				</div>
	    </div>
		
    </div> <!-- /.row -->
 </div> <!-- /.well -->
</div><!-- /.container -->


{% endblock %}

